[Unit]
Description=DDOT REST service task runner
After=auditd.service systemd-user-sessions.service time-sync.target docker.service

[Service]
User=ddotrunner
TimeoutStartSec=0
Type=simple
KillMode=process
export PATH=/opt/miniconda3/bin:$PATH
WorkingDirectory=/tmp
ExecStart=/opt/miniconda3/bin/ddot_taskrunner.py --wait_time 1 --logconfig /etc/ddot-taskrunner.conf /var/www/ddot_rest/tasks
Restart=always
RestartSec=5
LimitNOFILE=5555

[Install]
WantedBy=multi-user.target

